LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Led indicator
LOCATE COMP    "LEDS[0]" SITE "T6"; # 8.2
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;

# Reset button
LOCATE COMP    "resetn" SITE "R7"; # 8.2
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# UART
LOCATE COMP    "TXD" SITE "C4"; # 8.2
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;

LOCATE COMP    "RXD" SITE "D4"; # 8.2
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;

#PWM
LOCATE COMP "PWM" SITE "D3";
IOBUF PORT     "PWM" IO_TYPE=LVCMOS33;

LOCATE COMP "ready_from_esp" SITE "F4";
IOBUF PORT "ready_from_esp" IO_TYPE=LVCMOS33; # Añadir el tipo de I/O

LOCATE COMP "enable_esp" SITE "E4";
IOBUF PORT "enable_esp" IO_TYPE=LVCMOS33; # Añadir el tipo de I/O

LOCATE COMP "led_valvula" SITE "F3";
IOBUF PORT "led_valvula" IO_TYPE=LVCMOS33;



BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
